/.idea/*
*/.idea/*
**/schema.yaml
/scenario/**
/src/main/resources
/target/**
/lib/**
.attach_pid*
**/out/**
**/out/*
**/out/
*/out/**
*/out/*
*/out/
/out/**
/out/*
/out/
*.class
resultsOfEvaluation/*
*/project/*
project/*
*/target/*
.bsp/*
.vim/*
*.jar
*output*
