/.idea/*
**/schema.yaml
/scenario/**
**/germanet/**
**/wordnet.dict/**
/src/main/resources
/target/**
/lib/**
.attach_pid*
**/out/**
**/out/*
**/out/
*/out/**
*/out/*
*/out/
/out/**
/out/*
/out/
*.class
